/*
  ____ ___  __  __ __  __ _____ _   _ _____ ____
 / ___/ _ \|  \/  |  \/  | ____| \ | |_   _/ ___|
| |  | | | | |\/| | |\/| |  _| |  \| | | | \___ \
| |__| |_| | |  | | |  | | |___| |\  | | |  ___) |
 \____\___/|_|  |_|_|  |_|_____|_| \_| |_| |____/

*/


/* ==========================================================================
   %% Styling for Comments %%
   ========================================================================== */


.post-comments {
  float: left;
  width: 100%;
  margin-top: $unit-xl;

  a {

  }
}
