/*
 ____  _   _ ____  _   _    ___     __
/ ___|| | | | __ )| \ | |  / \ \   / /
\___ \| | | |  _ \|  \| | / _ \ \ / /
 ___) | |_| | |_) | |\  |/ ___ \ V /
|____/ \___/|____/|_| \_/_/   \_\_/

*/

.subnav {
 	width: auto;
 	position: absolute;
 	top: 28px;
 	right: $unit-md;
	 z-index: 10000000;
	 
	@include mq (md) {
		top: 12px;
		right: 12px;
	}

 	@include mq (sm) {
		top: 12px;
		right: 12px;
	}

 	li {
    padding: 6px;
 		margin-bottom: $unit-tiny;
 		text-align: center;
    transition: all 200ms ease;

    &:hover {
      cursor: pointer;
      border-radius: 50%;

      a {
        color: $white;
      }
    }

 		a {
 			font-size: $font-size-xl;
 			color: $white;
 			text-align: center;
 		}
 	}

  &.home {
    li {
			background-color: #4e00b8;
			
			@include mq (md) {
			}
		
			 @include mq (sm) {
				background-color: lighten($color-primary, 12%);
			}

      &:hover {
        background-color: darken(#4e00b8, 12%);

				@include mq (sm) {
					background-color: lighten($color-primary, 18%);
				}
      }
    }
  }
}
