/*
  ____  _   _ ____  _____ ____  _   _ _____ ____   ___  ____
 / ___|| | | |  _ \| ____|  _ \| | | | ____|  _ \ / _ \/ ___|
 \___ \| | | | |_) |  _| | |_) | |_| |  _| | |_) | | | \___ \
  ___) | |_| |  __/| |___|  _ <|  _  | |___|  _ <| |_| |___) |
 |____/ \___/|_|   |_____|_| \_\_| |_|_____|_| \_\\___/|____/
*/


/* ==========================================================================
   %% Styling for Potion Superheros %%
   ========================================================================== */

.superhero {
  position: relative;
  float: left;
  width: 100%;
  min-height: 240px;
  background-size: cover;

  @include mq(sm) {
    margin-top: 40px;
    background-position-x: -1200px;
  }

  &.short {
    min-height: 200px;
  }

  &.normal {
    min-height: 350px;
  }

  &.tall {
    min-height: 500px;
  }

  .sh--inner {
    position: relative;
    float: left;
    width: 100%;
    max-width: $xl-end;
    margin-left: auto;
    margin-right: auto;

    @include mq(xl) {

    }

    @include mq(lg) {
      left: 3%;
      right: 3%;
      width: 94%;
    }

    @include mq(md) {
      left: 0;
      right: 0;
      width: 100%;
    }

    @include mq(sm) {
      min-height: 350px;
      padding-bottom: 15px;
      text-align: center;
    }

    .my-pic {
      float: left;
      width: 250px;

      img {
        position: relative;
        top: $unit-xs;
        left: 30px;
        max-width: 170px !important;
        padding-top: $unit-base;
        text-align: right;
      }

      @include mq(md) {
        float: left;
        width: 250px;
      }

      @include mq(sm) {
        float: left;
        width: 100%;
        text-align: center;

        img {
          position: static;
          max-width: 170px !important;
          padding-top: $unit-base;
          padding-bottom: $unit-base;
          text-align: center;
        }
      }
    }

    .my-info {
      float: left;
      width: calc(100% - 250px);
      padding: 40px 100px 0 $unit-base;
      text-align: left;

      @include mq(xl) {
        padding: 40px 100px 0 $unit-base;
      }

      @include mq(lg) {
        padding: 30px 100px $unit-md $unit-base;
      }

      @include mq(md) {
        width: calc(100% - 250px);
        padding: 25px 30px $unit-md $unit-base;
      }

      @include mq(sm) {
        width: 100%;
        padding: $unit-tiny $unit-lg $unit-lg $unit-lg;
        text-align: center;
      }

      h1 {
        float: left;
        width: 100%;
        font-family: $font-1;
        font-size: $h1-size;
        font-weight: 900;
        color: white;
        text-transform: none;
        text-shadow: 6px 7px 1px darken($color-primary, 10%);

        @include mq(md) {
          font-size: 35px;
        }

        @include mq(sm) {
          font-size: 32px;
        }
      }

      h2 {
        float: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: $unit-tiny;
        font-family: $font-1;
        font-size: 2rem;
        color: $white;
        line-height: 130%;

        @include mq(lg) {
          font-size: 1.8rem;
        }

        @include mq(md) {
          font-size: 1.6rem;
        }

        @include mq(sm) {
          font-size: 1.4rem;
        }
      }

      p.quote {
        float: left;
        width: 100%;
        max-width: 1400px;
        padding-right: 50px;
        font-family: $font-2;
        font-size: 18px;
        color: white;
        line-height: 135%;

        @include mq(md) {
          padding-right: 0;
          font-size: 15px;
        }

        @include mq(sm) {
          padding-top: 10px;
          padding-right: 0;
          font-size: 15px;
        }
      }

      p.quotee {
        float: left;
        width: 100%;
        margin-top: $unit-base;
        font-size: 20px;
        font-style: italic;
        font-weight: 500;
        color: $color-primary;

        @include mq(md) {
          font-size: 19px;
        }

        @include mq(sm) {
          font-size: 18px;
        }
      }
    }
  }

  &.superhero-home {
    background-color: blue;

    p.quotee {
      color: $color-primary !important;
    }
  }

  &.superhero-about {
    background-image: url("../img/superheroes/bg-code-about.jpg");

    p.quotee {
      color: $purple-potion !important;
    }
  }

  &.superhero-blog {
    background-image: url("../img/superheroes/bg-code-blog.jpg");

    p.quotee {
      color: teal !important;
    }
  }

  &.superhero-portfolio {
    background-image: url("../img/superheroes/bg-code-portfolio.jpg");

    p.quotee {
      color: $purple-potion !important;
    }
  }

  &.superhero-photography {
    background-image: url("../img/superheroes/bg-code-photography.jpg");

    @include mq(sm) {
      background-position-x: -800px;
    }

    p.quotee {
      color: $red-potion !important;
    }
  }

  &.superhero-culinary {
    background-image: url("../img/superheroes/bg-code-culinary.jpg");

    @include mq(sm) {
      background-position-x: -1600px;
    }

    p.quotee {
      color: $green-potion !important;
    }
  }

  &.superhero-resume {
    background-image: url("../img/superheroes/bg-code-resume.jpg");

    @include mq(sm) {
      background-position-x: -1600px;
    }

    p.quotee {
      color: $orange-potion !important;
    }
  }

  &.superhero-contact {
    background-image: url("../img/superheroes/bg-code-contact.jpg");

    @include mq(sm) {
      background-position-x: -800px;
    }

    p.quotee {
      color: $yellow-potion !important;
    }
  }
}
