@import "../global/vars";
@import "../global/mixins";

/*
  __  __    _    ___ _   _
 |  \/  |  / \  |_ _| \ | |
 | |\/| | / _ \  | ||  \| |
 | |  | |/ ___ \ | || |\  |
 |_|  |_/_/   \_\___|_| \_|
*/

//LAZY LOAD IMAGES
// img.lazy-load {
// 	opacity: 1;
// 	transition: opacity 0.3s;
// }
//
// img[data-src] {
// 	opacity: 0;
// }


html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  font-family: $font-1;
  background-color: $site-background;
  letter-spacing: normal;
  overflow-y: auto;

}

a {
  color: $color-primary;
  font-family: $font-2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
