/*
  ____       _   _
 |  _ \ ___ | |_(_) ___  _ __
 | |_) / _ \| __| |/ _ \| '_ \
 |  __/ (_) | |_| | (_) | | | |
 |_|   \___/ \__|_|\___/|_| |_|
*/


/**
 *
 * #########%% BASE %%#########
 ~
 * RESET...............Resetting all styles to default
 * NORMALIZE...........Normalize.css
 * MAIN................General catch all for generic styles
 * GRIDS...............Potion's Fluid Grid system
 * TYPE................Font declarations
 * HELPERS.............A series of helper classes to use on demand

 * #########%% GLOBAL %%#########
 ~
 * MIXINS..............Mixins to be used by other SASS files globally
 * VARS................Variable definitions to be used by other SASS files globally

 * #########%% MODULES %%#########
 ~
 * ACCORDIONS..........Accordions and vanishing content classes
 * ALERTS..............Alert classes
 * BUTTONS.............Button classes
 * CODE................<code> block classes
 * FORMS...............Form classes
 * HEADINGS............Headings classes
 * ICONS...............Icons classes
 * IMAGES..............Image classes
 * LISTS...............Styling for order and unordered lists
 * MODALS..............Styles for modal pop ups
 * NAV.................Starter nav styles
 * MAGICTABS...........Potion's responsive tab to accordions
 * RULES...............Styling for <hr> tags
 * SUPERHEROS..........Styling for header banners or heros but in a super way!
 * TABLES..............Table classes
 * STYLEGUIDES.........Sytles only relating to the styleguide sample sheet, does not affect Potion
 */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i,900&display=swap');

/* ## Base ## */
@import "base/reset";
@import "base/normalize";
@import "base/main";
@import "base/grids";
@import "base/type";
@import "base/helpers";

/* ## Modules ## */
@import "modules/accordions";
@import "modules/alerts";
@import "modules/buttons";
@import "modules/code";
@import "modules/comments";
@import "modules/forms";
@import "modules/headings";
@import "modules/icons";
@import "modules/images";
@import "modules/lists";
@import "modules/modals";
@import "modules/nav";
@import "modules/panels";
@import "modules/pixel-me";
@import "modules/posts";
@import "modules/search";
@import "modules/sidebars";
@import "modules/subnav";
@import "modules/superheros";
@import "modules/tables";
@import "modules/tooltips";

/* ## Pages ## */
@import "header";
@import "body";
@import "home";

html {
  &.html-portfolio-single {
    overflow: hidden !important;
  }

  @media screen and (max-width: 782px) {
    margin-top: 0 !important;
  }
}

body {
  position: relative;
  background-color: #FFFFFF;

  &.body-for-portfolio-single-item {
    overflow: hidden !important;
  }
}