@import "global/mixins";
@import "global/vars";

h2 {
  margin: 30px 0 $unit-xs 0;
  @include font($font-1, normal, 28px, 400);

  @include mq(xl) {
    font-size: 28px;
  }

  @include mq(lg) {
    font-size: 26px;
  }

  @include mq(md) {
    font-size: 24px;
  }

  @include mq(sm) {
    margin: 1rem 0 $unit-xs 0;
    text-align: center;
    font-size: 23px;
    font-family: Roboto, sans-serif, Helvetica, Arial, sans-serif;
  }
}
